@model Product

<div class="col-md-4 col-xs-6 border-primary mb-3">
    <div class="card mb-3" style="max-width: 300px;">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-header text-white bg-info">
                    <p class="card-text">
                        <h5 class="card-title">
                            @Model.ProductName

                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="text-white float-right" asp-controller="Products"
                                   asp-action="Edit" asp-route-id="@Model.ProductId"><i class="bi bi-pencil-square"></i></a>
                            }
                        </h5>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="@Model.ImageThumbnail" style='height: 100%; width: 100%; object-fit: contain' alt="@Model.ProductName" />
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <p class="card-text"><b>Brand: @Model.Brand.BrandName</b></p>
                    <p class="card-text"><b>Lease Price: @Model.LeasePrice.ToString("c")</b></p>
                    <p class="card-text"><b>Total Price: @Model.Price.ToString("c")</b></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-footer">
                    <p class="card-text">
                        <a class="btn btn-outline-primary float-right" asp-controller="Products"
                           asp-action="Details" asp-route-id="@Model.ProductId"><i class="bi bi-eye-fill"> Details</i></a>
                        <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart"
                           asp-route-Id="@Model.ProductId"><i class="bi bi-cart-plus"> Add to Cart</i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

