@model Product

<h1>@Model.ProductName Details</h1>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.ProductName
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageUrl" style='height: 100%; width: 100%; object-fit: contain' alt="@Model.ProductName" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"><b>Description:</b><br /> @Model.Description</p>
                        <p class="card-text"><b>Color: </b>@Model.Color</p>
                        <p class="card-text"><b>Lease Price: </b>@Model.LeasePrice.ToString("c")</p>
                        <p class="card-text"><b>Total Price: </b>@Model.Price.ToString("c")</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="List"><i class="bi bi-eye-fill"> Back to List</i></a>
                            <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart"
                               asp-route-Id="@Model.ProductId"><i class="bi bi-cart-plus"> Add to Cart</i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
